<div class="row" ng-controller="CreateDBCtrl">
  <div class="col-md-12">
    <br/>
    <form name="jsonForm" ng-submit="createDB()" class="css-form" novalidate>
      <textarea rows="20" class="txt-area" placeholder="Paste JSON" ng-model="jsonData" name="jsonData" json>
        {{jsonData}}
      </textarea>
      <br/>
      <span ng-show="jsonForm.jsonData.$error.json">Please enter a valid JSON String</span>
      <br/>
      <!--button is disabled if text area is empty or json string is invalid-->
      <button type="submit" class="btn btn-default" ng-disabled="form.$invalid || emptyInput()">
        Query JSON
      </button>
      <a class="btn btn-default" ng-click="loadSample()">
        Load example
      </a>
    </form>
    
  </div>
</div>
