<div class="row" ng-controller="CreateDBCtrl">
  <div class="col-md-6">
    <div class="jsonsqlheader-sm">
      <h4>Step 1: Create JSON Database</h4>
    </div>
    <br/>
    <form name="jsonForm" ng-submit="createDB()" class="css-form" novalidate>
      <textarea rows="20" class="txt-area" placeholder="Paste JSON" ng-model="jsonData" name="jsonData" json>
        {{jsonData}}
      </textarea>
      <br/>
      <span ng-show="jsonForm.jsonData.$error.json">Please enter a valid JSON String</span>
      <br/>

      <button type="submit" class="btn btn-default" ng-disabled="form.$invalid || emptyInput()">
        Create DB
      </button>
    </form>
  </div>

  <div class="col-md-6">
    <div class="jsonsqlheader-sm">
      <h4>Step 2: Query JSON Object </h4>
    </div>
    <br/>
    <div class="bg-info doc">
      <ul>
        <li>
          <strong>Enter a valid json string</strong>
        </li>
        <li>
          <strong>The parsed JSON object is the database</strong>
        </li>
        <li>
          <strong>Use sql like queries on ths json object</strong>
        </li>
        <li>
          <strong>eg. select * from Country, select name from Country</strong>
        </li>
      </ul>
    </div>
  </div>
</div>
