<div ng-con	troller="DocsCtrl">
  <div class="row">  	
  	<div>
  		<div class="col-md-3">
		  	<ul class="nav nav-pills nav-stacked" role="tablist" id="docsTab">
			  <li role="presentation" class="active">
			  	<a show-tab href="#intro" aria-controls="intro" role="tab" data-toggle="tab">Introduction</a>
			  </li>
			  <li role="presentation">
			  	<a show-tab href="#simplequery" aria-controls="simplequery" role="tab" data-toggle="tab">Simple query</a>
			  </li>
			  <li role="presentation">
			  	<a show-tab href="#querynested" aria-controls="querynested" role="tab" data-toggle="tab">Query nested objects</a>
			  </li>
			  <li role="presentation">
			  	<a show-tab href="#selectnested" aria-controls="selectnested" role="tab" data-toggle="tab">Select nested keys</a>
			  </li>
			  <li role="presentation">
			  	<a show-tab href="#whereclause" aria-controls="whereclause" role="tab" data-toggle="tab">The where clause</a>
			  </li>
			  <li role="presentation">
			  	<a show-tab href="#treeview" aria-controls="treeview" role="tab" data-toggle="tab">Using the tree view</a>
			  </li>
			</ul>
		</div>

		<div class="tab-content col-md-9">
			<div role="tabpanel" class="tab-pane active well" id="intro">
				<h3>
					Example JSON
				</h3>
				<p>
					Users can experiment with the sample json object that can be accessed by clicking the 
					<code>Load Example</code> button on the home page.
					Future sections of the doc will use the sample json to provide example queries.
				</p>
				<json-formatter json='sampleJSON' open="8" ng-model></json-formatter>
				<h3>
					Introduction
				</h3>
				<p>
					This tool treats a javascript objects as table and provides features to query it using a sql-like syntax.
				</p>
				<h3>
					FROM Clause
				</h3>
				<p>
					By convention the FROM clause states the table to be queried. <br/>
					Keeping conventions intact the FROM clause helps the user specify which object to query from. <br/>
					If we wanted to query FROM the sample JSON, we could specify '<code>country</code>' (Case-sensitive) in the FROM clause.
					Users can <a goto-tab="querynested" href="">query from nested objects.</a>
				</p>
				<h3>
					SELECT Clause
				</h3>
				<p>
					By convention the SELECT clause states the columns of the tables. <br/>
					If a javascript object is your table, it is but obvious the various keys in the object serve as its columns.
					User must input keys of the javascript object in the select clause.
					If we wanted to SELECT columns from the sample JSON, we could specify '<code>name</code>' or '<code>captial</code>'  (Case-sensitive) in the SELECT clause. <br/>
					Again keeping conventions intact entering a '<code>*</code>' will select all the keys in the object.
					Users can <a goto-tab="selectnested" href="">select nested keys.</a>
				</p>
				<h3>
					WHERE Clause
				</h3>
				<p>
					WHERE clause serves to filter results in a table. <br/>
					In here a user is expected to provide a javascript function that evaluates to a boolean.
					More details at <a goto-tab="whereclause" href="">where clause doc.</a>
				</p>
				
			</div>
			<div role="tabpanel" class="tab-pane" id="simplequery">
				<div class="well">
					<p>
						The sample json contains an array of json objects. <br/>
						<json-formatter json='sampleJSON' open="8" ng-model></json-formatter>
						<br/>
					</p>
					<h3>
						Select all columns
					</h3>
					<p>
						A simple query to select all the keys in the nested objects would be <br/>
						<code> select * <br/> from country</code>
					</p>
					<h3>
						Select specific columns
					</h3>
					<p>
						A query to list the names and the capitals would be <br/>
						<code> select name, capital <br/> from country</code>
					</p>
				</div>
				<div>
					<p class="bg-warning">All the values in the SELECT and FROM clauses are case sensitive</p>
				</div>
				
			</div>
			<div role="tabpanel" class="tab-pane" id="querynested">
				<div class="well">
					<p>
						The sample json contains an array of json objects. <br/>
						<json-formatter json='sampleJSON' open="8" ng-model></json-formatter>
						<br/>
					</p>
					<h3>
						Query only the first object in the array
					</h3>
					<p>
						To query the first object in the array the user would need to enter a valid json path in the FROM clause. The resulting query would be <br/>
						<code> select * <br/> from country.0 </code>
					</p>
					<h3>
						Querying using valid json paths
					</h3>
					<p>
						If the user wanted to query for dignitaries in the first object the query would be <br/>
						<code> select * <br/> from country.0.dignitaries</code>
					</p>
				</div>
				<div>
					<p class="bg-warning">All the values in the SELECT and FROM clauses are case sensitive</p>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="selectnested">
				<div class="well">
					<p>
						The sample json contains an array of json objects. <br/>
						<json-formatter json='sampleJSON' open="8" ng-model></json-formatter>
						<br/>
					</p>
					<h3>
						Selecting nested properties
					</h3>
					<p>
						To view the dignitaries across all the object a user can specify valid json paths in the SELECT clause<br/>
						<code> select dignitaries.president <br/> from country</code>
					</p>
					<h3>
						Note
					</h3>
					<p>When specyfing nested json paths in the <code>SELECT</code> clause, the json paths must be relative to the object mentioned in the <code>FROM</code> clause</p>
				</div>
				<div>
					<p class="bg-warning">All the values in the SELECT and FROM clauses are case sensitive</p>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="whereclause">
				<div class="well">
					<p>
						The sample json contains an array of json objects. <br/>
						<json-formatter json='sampleJSON' open="8" ng-model></json-formatter>
						<br/>
					</p>
					<h3>
						WHERE Clause Overview
					</h3>
					<p>
						The WHERE clause allows you to filter results based on conditions. It uses <strong>JavaScript expressions</strong> that must evaluate to a boolean value (<code>true</code> or <code>false</code>). The library uses <a href="https://esprima.org/" target="_blank">Esprima</a> to parse and validate your JavaScript expressions.
					</p>
					
					<h3>
						Basic WHERE Clause Syntax
					</h3>
					<p>
						The WHERE clause expects a JavaScript expression that returns a boolean. Use the <code>this</code> keyword to reference properties of the current object being filtered.
					</p>
					
					<h4>
						Example 1: Simple Equality Check
					</h4>
					<p>
						To filter records where the name equals 'India':
					</p>
					<code>select * <br/> from country <br/> where this.name === 'India'</code>
					
					<h4>
						Example 2: String Comparison
					</h4>
					<p>
						To find countries whose names start with 'U':
					</p>
					<code>select name, capital <br/> from country <br/> where this.name.startsWith('U')</code>
					
					<h4>
						Example 3: Numeric Comparison
					</h4>
					<p>
						If you had numeric data, you could filter by values:
					</p>
					<code>select * <br/> from country <br/> where this.population > 1000000</code>
					
					<h4>
						Example 4: Complex Conditions
					</h4>
					<p>
						You can use logical operators for complex conditions:
					</p>
					<code>select * <br/> from country <br/> where this.name === 'India' || this.name === 'USA'</code>
					
					<h4>
						Example 5: Nested Property Access
					</h4>
					<p>
						Access nested properties using dot notation:
					</p>
					<code>select name <br/> from country <br/> where this.dignitaries.president === 'Barack Obama'</code>
					
					<h3>
						Important Rules
					</h3>
					<ul>
						<li><strong>Use <code>this</code> keyword:</strong> Always reference object properties using <code>this.propertyName</code></li>
						<li><strong>JavaScript syntax:</strong> Write valid JavaScript expressions that return boolean values</li>
						<li><strong>Case sensitive:</strong> Property names are case-sensitive</li>
						<li><strong>Relative to FROM clause:</strong> Properties are relative to the object specified in the FROM clause</li>
						<li><strong>Must return boolean:</strong> The expression must evaluate to <code>true</code> or <code>false</code></li>
					</ul>
					
					<h3>
						Common JavaScript Expressions
					</h3>
					<ul>
						<li><code>this.name === 'value'</code> - Exact string match</li>
						<li><code>this.age > 18</code> - Numeric comparison</li>
						<li><code>this.name.includes('text')</code> - String contains</li>
						<li><code>this.name.startsWith('prefix')</code> - String starts with</li>
						<li><code>this.name.endsWith('suffix')</code> - String ends with</li>
						<li><code>this.status === 'active' && this.age >= 21</code> - Multiple conditions</li>
						<li><code>this.tags && this.tags.length > 0</code> - Check if array exists and has items</li>
					</ul>
					
					<h3>
						Error Handling
					</h3>
					<p>
						If your JavaScript expression is invalid, the query will fail. Common errors include:
					</p>
					<ul>
						<li>Missing <code>this</code> keyword</li>
						<li>Invalid JavaScript syntax</li>
						<li>Referencing non-existent properties</li>
						<li>Expressions that don't return boolean values</li>
					</ul>
				</div>
				<div>
					<p class="bg-warning">All property names in the WHERE clause are case sensitive</p>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="treeview">
				<div class="well">
					<h3>
						Using the tree view to fetch JSON paths.
					</h3>
					<p>
						It can become a tedious task to specify valid json paths in the <code>SELECT</code> and the 
						<code>FROM</code> clauses. Users can select a node by click on it. Users can then either use the
						<code>Use Selected Node in From</code> button to get the json path to the <code>FROM</code> clause and similarly use the <code>Use Selected Node in Select</code> button to get the JSON path to the <code>SELECT</code> clause. 
					</p>
					<h3>
						Note
					</h3>
					<p>
						Currently when selecting json path to the <code>SELECT</code> clause does not account for the JSON path being relative to the object in the <code>FROM</code> clause. It is still being worked on.
					</p>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>