<!DOCTYPE html>
<html lang="en" ng-app="jsonSql">
  <head>
    <title>JSON SQL Online</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap-overrides.css">
    <link rel="stylesheet" href="css/bootstrap-treeview.min.css">
    <link rel="stylesheet" href="css/json-formatter.min.css">
  </head>
  <body ng-controller="NavCtrl">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                  data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="" ng-click="loadIndex()">JSON SQL Online</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="" ng-click="loadDocs()">
                Docs <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <br/>
    <div class="container" ng-view></div>  
    </br> 
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!--script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script-->
    <!--script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js"></script>
    <script src="lib/uscore.js"></script>
    <script src="lib/esprima.js"></script>
    <script src="lib/controllers.js"></script>
    <script src="lib/app.js"></script>
    <script src="lib/jsonsql.js"></script>
    <script src="lib/sampleJSON.js"></script>
    <script src="lib/bootstrap-treeview.min.js"></script>
    <script src="lib/json-formatter.min.js"></script>
  </body>
</html>